[build]
  command = "npm ci"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["mailparser", "@kenjiuno/msgreader", "html-to-text", "@netlify/blobs"]
