[build]
  command = "npm ci"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["msgreader","@kenjiuno/msgreader","mailparser","html-to-text","@netlify/blobs"]
