[build]
  command = "npm install --no-audit --no-fund"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["@kenjiuno/msgreader","mailparser","html-to-text","@netlify/blobs"]
