[build]
  command   = "npm ci"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"
  external_node_modules = ["mailparser","html-to-text","@kenjiuno/msgreader","@netlify/blobs"]

[build.environment]
  NODE_VERSION = "20"
